
.light-shadow {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 25%);
}
.sidebar .sidebar-title {
    text-align: center;
    border-radius: 10px 10px 0 0;
}
.flight-listing-page .flight-block .flight-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flight-listing-page .flight-block .flight-area .airline-name {
    display: flex;
    gap: 16px;
    align-items: center;
}
.flight-listing-page .flight-block .flight-area .airline-name img {
    border-radius: 50%;
}
.dark-gray {
    color: #7A7F85 !important;
}
.flight-listing-page .flight-block .flight-area .flight-detail {
    display: flex;
    align-items: center;
    gap: 32px;
}
.flight-listing-page .flight-block .flight-area .flight-button {
    display: flex;
    align-items: center;
    gap: 32px;
}

.gap-8 {
    gap: 8px;
}
.filtersection{
    font-size: 14px;
}
.searchform {
    background: var(--it-theme-2);
}
.MuiOutlinedInput-notchedOutline{
    border-width: 0px !important;
}
.price-range-slider {
 width: 100% !important;
 padding: 0px !important;
}
.MuiOutlinedInput-input{
    padding:0 !important;
    border: 0px !important;
    margin-bottom: 10px;
}
h5, .h5 {
    font-size: clamp(16px, 1.094vw, 24px);
    font-weight: 500;
    line-height: 130%;
}
.radio-tile-group {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 0px;
}
.radio-tile-group .input-container {
    position: relative;
}

.radio-tile-group .input-container .radio-button {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile {
    background: var(--it-theme-2);
    border: 1px solid #c7c8c9;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
    color: #ffffff;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile .sunrise {
background-position: -5px -70px !important;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile .morning {
    background-position: -38px -70px !important;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile .afternoon {
    background-position: -66px -70px !important;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile .evening {
    background-position: -95px -67px !important;
}
.radio-tile-group .input-container .radio-tile.sidebar-departure-radio {
    padding: 6px 6px;
    height: 70px;
}

.radio-tile-group .input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 52px;
    border: 1px solid #c7c8c9;
    background: rgba(77, 115, 252, 0.1);
    border-radius: 0px;
    padding: 14px 8px;
    transition: transform 300ms ease;
}
.radio-tile-group .input-container .radio-tile-label {
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.2px;
}
h6, .h6 {
    font-size: clamp(13px, 0.833vw, 22px);
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.32px;
}
.sunrise{
    margin: 0 auto;
    width: 28px;
    height: 25px;
    background: url('../../assets/img//filter-sprite.png');
    background-position: -5px -42px;
}
.morning{
    margin: 0 auto;
    width: 28px;
    height: 25px;
    background: url('../../assets/img//filter-sprite.png');
    background-position: -38px -43px;
}
.afternoon{
    margin: 0 auto;
    width: 28px;
    height: 25px;
    background: url('../../assets/img//filter-sprite.png');
    background-position: -66px -42px;
}
.evening{
    margin: 0 auto;
    width: 28px;
    height: 25px;
    background: url('../../assets/img//filter-sprite.png');
    background-position: -95px -43px;
}
.disabled{
    background: #E4EBF1;
}
@media (max-width: 1699px) {
    .flight-listing-page .flight-block .flight-area .flight-detail {
        gap: 8px;
    }
}
.flight-listing-page .flight-block .flight-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1199px) {
    .flight-listing-page .flight-block .flight-area {
        display: grid;
        justify-content: center;
        gap: 32px;
    }
}

.flight-listing-page .flight-block .flight-area .airline-name {
    display: flex;
    gap: 16px;
    align-items: center;
}

.flight-listing-page .flight-block .flight-area .airline-name img {
    border-radius: 50%;
}



@media (max-width: 1199px) {
    .flight-listing-page .flight-block .flight-area .airline-name {
        text-align: center;
    }
}

.flight-listing-page .flight-block .flight-area .flight-detail {
    display: flex;
    align-items: center;
    gap: 32px;
}

@media (max-width: 1699px) {
    .flight-listing-page .flight-block .flight-area .flight-detail {
        gap: 8px;
    }
}

@media (max-width: 1199px) {
    .flight-listing-page .flight-block .flight-area .flight-detail {
        gap: 32px;
    }
}

.flight-listing-page .flight-block .flight-area .flight-button {
    display: flex;
    align-items: center;
    gap: 32px;
}

@media (max-width: 1599px) {
    .flight-listing-page .flight-block .flight-area .flight-button {
        gap: 8px;
        display: block;
    }

    .flight-listing-page .flight-block .flight-area .flight-button .amount {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 8px;
    }
}

@media (max-width: 1199px) {
    .flight-listing-page .flight-block .flight-area .flight-button .amount {
        margin-bottom: 8px;
    }

    .flight-listing-page .flight-block .flight-area .flight-button {
        margin: 0 auto;
    }
}

.flight-listing-page .accordion-button:not(.collapsed) i.fa-chevron-down:before {
    content: "\f077" !important;
}

.time-detail {
    padding-top: 40px;
}

@media (max-width: 992px) {
    .time-detail {
        padding-top: 10px;
        text-align: center;
    }
}

.time-detail .flight-date {
    padding: 12px;
    background: var(--accent-2);
    border-radius: 5px;
    display: inline-flex;
    color: var(--white);
}

.detail-block {
    background: rgba(77, 115, 252, 0.10);
    padding: 64px 24px;
    border-radius: 10px;
}

.detail-block img {
    border-radius: 50%;
}

@media (max-width: 767px) {
    .detail-block {
        padding: 32px 24px;
    }
}

@media (max-width: 576px) {
    .detail-block {
        text-align: center;
    }
}




