
.light-shadow {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 25%);
}
.sidebar .sidebar-title {
    text-align: center;
    border-radius: 10px 10px 0 0;
}
.flight-listing-page .flight-block .flight-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flight-listing-page .flight-block .flight-area .airline-name {
    display: flex;
    gap: 16px;
    align-items: center;
}
.flight-listing-page .flight-block .flight-area .airline-name img {
    border-radius: 50%;
}
.dark-gray {
    color: #7A7F85 !important;
}
.flight-listing-page .flight-block .flight-area .flight-detail {
    display: flex;
    align-items: center;
    gap: 32px;
}
.flight-listing-page .flight-block .flight-area .flight-button {
    display: flex;
    align-items: center;
    gap: 32px;
}
.gap-8 {
    gap: 8px;
}
.filtersection{
    font-size: 14px;
}
.searchform {
    background: var(--it-theme-2);
}
.MuiOutlinedInput-notchedOutline{
    border-width: 0px !important;
}
.price-range-slider {
    width: 100% !important;
    padding: 0px !important;
}
.MuiOutlinedInput-input{
    padding:0 !important;
    border: 0px !important;
    margin-bottom: 10px;
}
h5, .h5 {
    font-size: clamp(16px, 1.094vw, 24px);
    font-weight: 500;
    line-height: 130%;
}
.radio-tile-group {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 0px;
}
.radio-tile-group .input-container {
    position: relative;
}

.radio-tile-group .input-container .radio-button {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile {
    background: var(--it-theme-2);
    border: 1px solid #c7c8c9;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
    color: #ffffff;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile .sunrise {
    background-position: -5px -70px !important;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile .morning {
    background-position: -38px -70px !important;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile .afternoon {
    background-position: -66px -70px !important;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile .evening {
    background-position: -95px -67px !important;
}
.radio-tile-group .input-container .radio-tile.sidebar-departure-radio {
    padding: 6px 6px;
    height: 70px;
}

.radio-tile-group .input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 52px;
    border: 1px solid #c7c8c9;
    background: rgba(77, 115, 252, 0.1);
    border-radius: 0px;
    padding: 14px 8px;
    transition: transform 300ms ease;
}
.radio-tile-group .input-container .radio-tile-label {
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.2px;
}
h6, .h6 {
    font-size: clamp(13px, 0.833vw, 22px);
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.32px;
}
.sunrise{
    margin: 0 auto;
    width: 28px;
    height: 25px;
    background: url('../../assets/img/filter-sprite.png');
    background-position: -5px -42px;
}
.morning{
    margin: 0 auto;
    width: 28px;
    height: 25px;
    background: url('../../assets/img/filter-sprite.png');
    background-position: -38px -43px;
}
.afternoon{
    margin: 0 auto;
    width: 28px;
    height: 25px;
    background: url('../../assets/img/filter-sprite.png');
    background-position: -66px -42px;
}
.evening{
    margin: 0 auto;
    width: 28px;
    height: 25px;
    background: url('../../assets/img/filter-sprite.png');
    background-position: -95px -43px;
}
.disabled{
    background: #E4EBF1;
}

.multi-flight .flight-left .flightrow{
    display: flex;
    justify-content: space-between;
}
.multi-flight .flight-left .badge{
    background: var(--it-theme-1);
}
.multi-flight .flight-button{
    justify-content: end;
}
hr{
    margin: 10px 0 !important;
}
.rountrip-list h5{
    font-size: 13px !important;
}
.rountrip-list .airline-name{
    display: block !important;
}
.flight-button .form-check{
    padding-left: 0px !important;
    padding-right: 0px !important;
    position: absolute;
    top: 8px;
    right: 8px;
}
.flight-button .form-check-input{
    width: 18px;
    height: 18px !important;
    padding-right: 0px !important;
}
.rountrip-list .accordion-button{
    font-size: 13px !important;
}
.n-w-ron-bg {
    padding: 8px 10px;
    background: #f3f3f3;
    border-radius: 8px;
    border: 1px solid #d3d3d3;
}
.nxt-pre-col {
    font-size: 11px;
    color: #222121;
    display: flex;
    position: relative;
    padding: 7px 3px;
    border-radius: 40px;
    background: #ffffff;
    text-align: center;
    justify-content: space-evenly;
}
.rgtbdr:before {
    content: "";
    height: 100%;
    width: 1px;
    border-left: 1px solid #cecece;
    position: absolute;
    top: 0;
    left: 57%;
}
.grey-bck {
    background-color: #fff;
    color: #646363;
    height: 30px;
    line-height: 39px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
}
.grey-bck a{
    color: #646363 !important;

}
.fascolm {
    float: left;
    display: flex;
    align-items: center;
    margin-right: auto;
}
.fastestbt {
    float: right;
    border: 1px solid #9dadba;
    background: #fff;
    padding: 0;
    margin-left: 10px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
}
.fastestbt:hover {
    background: #ffeac7;
    border: 1px solid #eaa433;
}
.yl-bdr {
    background: #ffeac7;
    border: 1px solid #eaa433;
}
.gr-bdr {
    background: #bdffe9;
    border: 1px solid #23bf8c;
}
.chepestbt:hover {
    background: #bdffe9;
    border: 1px solid #23bf8c;
}
.chepestbt {
    float: right;
    background: #fff;
    border: 1px solid #9dadba;
    padding: 0;
    margin-left: 10px;
    border-radius: 5px;
    align-items: center;
    display: flex
;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
}
.txt-fon1 {
    text-align: right;
    font-size: 12px;
    color: #272828;
    padding-top: 8px;
    padding-bottom: 8px;
}
.txt-m1 {
    color: #30302f;
}
.fastestbt::before {
    content: '';
    background: url('../../assets/img/fastest-gry.svg') no-repeat;
    width: 28px;
    float: left;
    background-position: center center;
    height: 25px;
    margin: 3px;
    margin-right: 0;
    background-size: 18px 18px;
    border-radius: 6px;
}
.gr-bdr::before {
    content: '';
    background: url('../../assets/img/cheapest-clr.svg') no-repeat;
    width: 28px;
    float: left;
    background-position: center center;
    height: 25px;
    margin: 3px;
    margin-right: 0;
    background-size: 18px 18px;
    border-radius: 6px;
}
.cheptxt {
    padding: 6px 8px;
    float: right;
    padding-left: 4px;
}
@media (max-width: 1699px) {
    .flight-listing-page .flight-block .flight-area .flight-detail {
        gap: 8px;
    }
}
.flight-listing-page .flight-block .flight-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1199px) {
    .flight-listing-page .flight-block .flight-area {
        display: grid;
        justify-content: center;
        gap: 32px;
    }
}

.flight-listing-page .flight-block .flight-area .airline-name {
    display: flex;
    gap: 16px;
    align-items: center;
}

.flight-listing-page .flight-block .flight-area .airline-name img {
    border-radius: 50%;
}



@media (max-width: 1199px) {
    .flight-listing-page .flight-block .flight-area .airline-name {
        text-align: center;
    }
}

.flight-listing-page .flight-block .flight-area .flight-detail {
    display: flex;
    align-items: center;
    gap: 32px;
}

@media (max-width: 1699px) {
    .flight-listing-page .flight-block .flight-area .flight-detail {
        gap: 8px;
    }
}

@media (max-width: 1199px) {
    .flight-listing-page .flight-block .flight-area .flight-detail {
        gap: 32px;
    }
}

.flight-listing-page .flight-block .flight-area .flight-button {
    display: flex;
    align-items: center;
    gap: 32px;
}

@media (max-width: 1599px) {
    .flight-listing-page .flight-block .flight-area .flight-button {
        gap: 8px;
        display: block;
    }

    .flight-listing-page .flight-block .flight-area .flight-button .amount {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 8px;
    }
}

@media (max-width: 1199px) {
    .flight-listing-page .flight-block .flight-area .flight-button .amount {
        margin-bottom: 8px;
    }

    .flight-listing-page .flight-block .flight-area .flight-button {
        margin: 0 auto;
    }
}

.flight-listing-page .accordion-button:not(.collapsed) i.fa-chevron-down:before {
    content: "\f077" !important;
}

.time-detail {
    padding-top: 40px;
}

@media (max-width: 992px) {
    .time-detail {
        padding-top: 10px;
        text-align: center;
    }
}

.time-detail .flight-date {
    padding: 12px;
    background: var(--accent-2);
    border-radius: 5px;
    display: inline-flex;
    color: var(--white);
}

.detail-block {
    background: rgba(77, 115, 252, 0.10);
    padding: 64px 24px;
    border-radius: 10px;
}

.detail-block img {
    border-radius: 50%;
}

@media (max-width: 767px) {
    .detail-block {
        padding: 32px 24px;
    }
    .flight-listing-page .flight-block .flight-area .airline-name{
        justify-content: center;
    }
    .multi-flight .flight-left .flightrow{
        display: block;
    }
}

@media (max-width: 576px) {
    .detail-block {
        text-align: center;
    }
}




